/* @tailwind base; */
/* @tailwind components; */
/* @tailwind utilities; */

html {
  min-height: 100%;
  height: 100%;
  width: 100%;
  font-family: "Lufga", sans-serif;
}

body,
#app {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  background: #181818;
  color: #fff;
}

* {
  box-sizing: border-box;
  font-family: "Lufga";
  margin: 0;
  padding: 0;
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff30;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

.layers {
  height: 100%;
  width: 100%;
  position: relative;
}

.layer {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.layer.curves img {
  width: 100vw;
  height: 30vh;
  opacity: 0.5;
  object-fit: cover;
  z-index: 1000;
}

.layer.grid {
  z-index: 1001;
  display: grid;
  grid-template-columns: 75px 20vw calc(63vw - 75px) 20vw;
  grid-template-rows: 75px 1fr 3fr 75px;
  grid-template-areas:
    "MobileHeader r1c2 r1c3 r1c4"
    "r2c1 Title r2c3 SidebarTop"
    "r3c1 Navbar Content Sidebar"
    "fLogo Social fContent Copyright";
}

.layer.grid > div {
  color: white;
  border: 1.5px solid #282828;
}

.layer.grid > .Content {
  overflow: auto;
  padding: 20px;
}

.Content > div {
  min-height: 0;
}

.layer.grid > .Title {
  grid-area: 2 / 4 / 3 / 2;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}

.layer.grid > .Title .line {
  position: absolute;
  top: 0;
  left: calc(20vw - 2px);
  width: 2px;
  height: 100%;
  z-index: 100001;
  background: #282828;
}

a {
  text-decoration-color: #282828;
  text-decoration-thickness: 3px;
  color: inherit;
  font-weight: 500;
  transition: text-decoration-color 0.3s ease;
}

a:hover {
  text-decoration-color: #fff;
}

@media screen and (max-width: 1300px) {
  .layer.grid {
    display: flex !important;
    flex-direction: column;
    padding: 0 20px;
  }

  .layer.grid > div {
    color: white;
    border: none;
    display: none !important;
    height: auto;
  }

  .layer.curves img {
    opacity: 0.15;
  }

  .layer.grid > .Title .line {
    display: none;
  }

  .layer.grid > .MobileHeader,
  .layer.grid > .Navbar,
  .layer.grid > .Content,
  .layer.grid > .Copyright,
  .layer.grid > .Title {
    display: block !important;
  }

  .layer.grid .Content {
    height: fit-content;
    width: 100vw;
    overflow: visible;
    padding: 20px 0;
    padding-right: 40px;
  }
}

form {
  width: 100%;
}

.input-group {
  margin: 20px 0;
}

.input-group input,
.input-group textarea {
  display: block;
  max-width: 400px;
  width: 100%;
  padding: 15px;
  border: none;
  background: #282828;
  border-bottom: 4px solid #555;
  transition: border-color 0.3s ease;
  color: #fff;
}

.input-group input:focus,
.input-group textarea:focus,
.input-group input:active,
.input-group textarea:active {
  outline: none;
  border-color: #fff;
}

.input-group label {
  color: #777;
  font-weight: bold;
  margin-bottom: 7px;
  display: block;
}

.input-group textarea {
  resize: vertical;
}

.input-group .error {
  margin-top: 7px;
  display: block;
  color: #ff0000;
  font-size: 0.8rem;
}
